@using CleanArc.Application.Services.Projects.Commands.ViewModels
@model CleanArc.Application.Services.Projects.Commands.ViewModels.ProjectUpdateViewModel

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{
    ProjectUpdateViewModel Model = ViewBag.Model;
}

<div id="formBody">
    <div asp-validation-summary="ModelOnly" class="validation"></div>

    <label asp-for="Id" hidden></label>
    <input asp-for="Id" type="hidden" value=@Model.Id class="form-control" disabled />
    <span asp-validation-for="Id" class="text-danger"></span>

    <label asp-for="Name">Name </label>
    <input asp-for="Name" type="text" value=@Model.Name class="form-control" disabled />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label asp-for="DepartmentId"> Department</label>
    <select asp-for="DepartmentId"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="departmentDD" disabled>
        @foreach (var department in Model.DepartmentsDropDown)
        {
            if (department.Id == Model.DepartmentId)
            {
                <option value="@department.Id" selected>@department.Name</option>
            }
        }
    </select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>

    <br />
    <label asp-for="CedacriInternationalRUser"> Cedacri Interantional User</label>
    <select asp-for="CedacriInternationalRUser"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="userInterDD" disabled>
        @foreach (var user in Model.UsersDropDown)
        {
            if (user.Id == Model.CedacriInternationalRUser)
            {
                <option value="@user.Id" selected>@user.Name</option>
            }
        }
    </select>
    <span asp-validation-for="CedacriInternationalRUser" class="text-danger"></span>

    <br />
    <label asp-for="CedacriItalyRUser"> Cedacri Italy User</label>
    <select asp-for="CedacriItalyRUser"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="userItalyDD" disabled>
        @foreach (var user in Model.UsersDropDown)
        {
            if (user.Id == Model.CedacriItalyRUser)
            {
                <option value="@user.Id" selected>@user.Name</option>
            }
        }
    </select>
    <span asp-validation-for="CedacriItalyRUser" class="text-danger"></span>

    @if (Model.URLs.Count > 0)
    {
        <label id="urlLable" style="display:block"> Url List</label>
    }
    else
    {
        <label id="urlLable" style="display:block" hidden> Url List</label>
    }
    <div id="urlList">
        @{
            int urlId = 0;
            string url = "url";
            string InputUrl = "InputUrl";
            string DDurl = "DDurl";
        }
        @foreach (var item in Model.URLs)
        {
            <div class="input-group urlTemplate" id="@url@urlId">
                <input type="text" id="@InputUrl@urlId" class="form-control urlValueInput" value="@Model.URLs[urlId].Url" disabled />
                <select asp-data-style="btn-select" class="custom-select input-group-append urlTypeDD" id="@DDurl@urlId" disabled>
                    @foreach (var urlType in Model.UrlTypesDropDown)
                    {
                        if (urlType.Id == item.UrlTypeId)
                        {
                            <option value="@urlType.Id" selected>@urlType.Name</option>
                        }
                    }
                </select>
            </div>
            urlId++;
        }
    </div>
</div>

@section Scripts{

    <script>
        
    </script>
}