@using CleanArc.Application.Services.Projects.Commands.ViewModels
@model CleanArc.Application.Services.Projects.Commands.ViewModels.ProjectUpdateViewModel

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{
        ProjectUpdateViewModel Model = ViewBag.Model;
}

<div id="formBody">
    <div asp-validation-summary="ModelOnly" class="validation"></div>

    <label asp-for="Id" hidden></label>
    <input asp-for="Id" type="hidden" value=@Model.Id class="form-control" />
    <span asp-validation-for="Id" class="text-danger"></span>

    <label asp-for="Name">Name </label>
    <input asp-for="Name" type="text" value=@Model.Name class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>


    <label asp-for="DepartmentId" style="display:block"> Department </label>
    <select asp-for="DepartmentId"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="departmentDD">
        @foreach (var department in Model.DepartmentsDropDown)
        {
            if (department.Id == Model.DepartmentId)
            {
                <option value="@department.Id" selected>@department.Name</option>
            }
            else
            {
                <option value="@department.Id">@department.Name</option>
            }
        }
    </select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>

    <br />
    <label asp-for="CedacriInternationalRUser"> Cedacri Interantional User</label>
    <select asp-for="CedacriInternationalRUser"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="userInterDD">
        @foreach (var user in Model.UsersDropDown)
        {
            if (user.Id == Model.CedacriInternationalRUser)
            {
                <option value="@user.Id" selected>@user.Name</option>
            }
            else
            {
                <option value="@user.Id">@user.Name</option>
            }
        }
    </select>
    <span asp-validation-for="CedacriInternationalRUser" class="text-danger"></span>

    <br />
    <label asp-for="CedacriItalyRUser"> Cedacri Italy User</label>
    <select asp-for="CedacriItalyRUser"
            asp-data-style="btn-select" asp-data-live-search="true"
            asp-data-size="3"
            asp-max-options="1"
            class="custom-select" id="userItalyDD">
        @foreach (var user in Model.UsersDropDown)
        {
            if (user.Id == Model.CedacriItalyRUser)
            {
                <option value="@user.Id" selected>@user.Name</option>
            }
            else
            {
                <option value="@user.Id">@user.Name</option>
            }
        }
    </select>
    <span asp-validation-for="CedacriItalyRUser" class="text-danger"></span>

    <label id="urlLable" style="display:block"> Url List</label>
    <div id="urlList">
        @{
            int urlId = 0;
            string url = "url";
            string InputUrl = "Inputurl";
            string DDurl = "DDurl";
            string IdInputUrl = "IdInputurl";
            string error = "-error";
        }
        @foreach (var item in Model.URLs)
        {   
        <div class="input-group urlTemplate" id="@url@urlId">
            <input type="text" value="@Model.URLs[urlId].Id" id="@IdInputUrl@urlId" hidden />
            <input type="text" name="@InputUrl@urlId" id="@InputUrl@urlId" class="form-control urlValueInput" value="@Model.URLs[urlId].Url" />
            <select asp-data-style="btn-select" class="custom-select input-group-append urlTypeDD" name="@DDurl@urlId" id="@DDurl@urlId">
                @foreach (var urlType in Model.UrlTypesDropDown)
                {
                    if (urlType.Id == item.UrlTypeId)
                    {
                        <option value="@urlType.Id" selected>@urlType.Name</option>
                    }
                    else
                    {
                        <option value="@urlType.Id">@urlType.Name</option>
                    }
                }
            </select>
            <button type="button" class="btn btn-danger input-group-append" onclick="DeleteUrl(@urlId)"><i class="fas fa-trash"></i></button>
            <span id="@InputUrl@urlId@error" class="input-validation-error text-danger errSpanInput"> </span>
            <span id="@DDurl@urlId@error" class="input-validation-error text-danger errSpanDD"> </span>
        </div>
            urlId++;
        }
    </div>
    <button type="button" class="btn btn-secondary" id="addUrl" onclick="AddUrlTemplate()">Add Url</button>
</div>

@section Scripts{
    <script>
        var urlId = '@Html.Raw(Model.URLs.Count)';
        var urlNum = '@Html.Raw(Model.URLs.Count)';
        function AddUrlTemplate() {
            var urltemplate =
                '<div class="input-group urlTemplate" id="url' + urlId + '">' +
                    '<input type="text" value="" id="IdInputurl' + urlId +'" hidden/>' +
                    '<input type ="text" name="Inputurl' + urlId + '" id = "Inputurl' + urlId + '" class="form-control urlValueInput" />' +
                    '<select name="DDurl' + urlId + '" asp-data-style="btn-select" class="custom-select input-group-append urlTypeDD" id="DDurl' + urlId + '"></select>' +
                    '<button type="button" class="btn btn-danger input-group-append" onclick="DeleteUrl(' + urlId + ')"><i class="fas fa-trash"></i></button>' +
                    '<span id="Inputurl' + urlId + '-error" class="input-validation-error text-danger errSpanInput"> </span>' +
                    '<span id="DDurl' + urlId + '-error" class="input-validation-error text-danger errSpanDD"> </span>' +
                '</div >';

            var ddNum = urlId;
            getDropDown(null, "projects", function (data) {
                appendDataDropDown(data.responseValue, null, "#DDurl" + ddNum)
            });

            urlNum++;
            urlId++;
            $('#urlList').append(urltemplate);
        }

        function DeleteUrl(urlId) {
            urlNum--;
            $("#url" + urlId).remove();
            console.log(urlNum);
        }
    </script>
}